thead {color:#b3b4b8; font-size: 0.9rem;}
tbody {color:black;}
table{
  width: 98%;
  border-collapse: collapse;
  margin: 1rem;
}
table{
  border: 2px solid rgb(179,180,184,0.3);
}
td {
 border: 2px solid rgb(179,180,184,0.3);
 border-left: 0 !important;
 border-right: 0 !important;
 table-layout: fixed; 
}
td, th{
 padding: 1rem;
 text-align: left;
}
.spender{
  display: inline-flex;
  padding-left: 1rem;
}
.initials{
  padding: 1rem;
  color: white;
  border-radius: 50%;
}
.details{
  margin-left: 0.5rem;
}
.details span{
  color: #b3b4b8;
  font-size: 0.9rem;
}
.category{
  padding: 0.3rem 1rem;
  display: inline-block;
  border-radius: 1.4rem;
}
.category p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.Pay{
  position: absolute;
  right: 3rem;
  padding: 0 2rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 11px #999;
  z-index: 0;
}   
ul.pagination {
  display: flex;
  list-style-type: none;
} 
li.page-item {
  padding: 0.2rem 1rem;
  box-shadow: 2px 2px 11px #999;
  margin: 0 1rem;
  border-radius: 1rem;
}
a.page-link {
  text-decoration: none;
  color: black;
}